---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import EmailIcon from "../icons/email.svg";
import GithubIcon from "../icons/github.svg";
import LinkedinIcon from "../icons/linkedin.svg";
import TwitterIcon from "../icons/twitter.svg";
---

<Layout title="Welcome to Astro.">
  <Navbar />

  <section
    class="w-full max-w-5xl h-full max-h-full px-6 sm:px-12 md:px-28 lg:px-48 py-8 sm:py-16 md:py-28 sm:text-lg md:text-xl overflow-y-auto"
  >
    <h1 class="text-2xl sm:text-3xl font-semibold mb-8">Hello! I am Udasi.</h1>
    <p>
      I am a software engineer with a love for great products and technology. I
      absolutely adore building great products. I genuinely fall in love with
      products that are designed beautifully. And I am learning to do the same.
      At the same time, I am also extremely curious about technology and how
      things work.
      <br />
      Fun fact: I LOVE Apple :)
      <br />
      <br />
      When I am not working, you can find me tinkering with technology, meditating,
      learning about spirituality, reading (about business, psychology, marketing,
      fiction, and sometimes science and math), learning to play guitar or playing
      slow, cozy games like Pokemon.
      <br />
      <br />
      <br />
      Have a project? Get in touch!
    </p>

    <div class="flex justify-start items-center space-x-6 mt-8">
      <a href="">
        <img src={EmailIcon} class="h-10 hover:h-20 transition-all" />
      </a>
      <a href="">
        <img src={GithubIcon} class="h-10 hover:h-20 transition-all" />
      </a>
      <a href="">
        <img src={LinkedinIcon} class="h-10 hover:h-20 transition-all" />
      </a>
      <a href="">
        <img src={TwitterIcon} class="h-10 hover:h-20 transition-all" />
      </a>
    </div>
  </section>
</Layout>
