---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Blog">
  <Navbar />

  <section
    class="flex flex-col justify-center items-center h-full overflow-y-hidden"
  >
    <h1 class="text-3xl font-semibold">Coming soon :)</h1>
  </section>
</Layout>
