---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <section
    class="flex flex-col justify-center items-center h-full overflow-y-hidden"
  >
    <h1 class="text-3xl font-semibold">Coming soon :)</h1>
  </section>
</Layout>
