---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
---

<Layout title="Blog">
  <section class="px-8 py-16">
    {
      allBlogPosts.map((post) => (
        <a href="/blog/creating-a-language">
          <div class="flex flex-col justify-center items-center bg-darkGray rounded-lg pb-4 w-1/3 overflow-hidden">
            <img src={post.data.image} class="mb-4 w-full" />
            <p class="font-gray10 font-medium">{post.data.title}</p>
          </div>
        </a>
      ))
    }
  </section>
</Layout>
