---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <section class="flex flex-col py-64 max-w-5xl mx-auto">
    <h1 class="text-3xl text-center">
      <span class="text-4xl">Hello! I am Udasi.</span><br />I am a software
      developer with a love<br />for great products and technology.
    </h1>
  </section>

  <section class="w-full">
    <ProjectCard
      title="Vidpedia"
      image="/public/projects/vidpedia/thumbnail.png"
      role="Founding Engineer, Full Stack"
      subtitle="A collection of video editing templates for professional editors."
      link="/projects/vidpedia"
    />
    <!-- <ProjectCard
      title="Jupiter"
      image=""
      role="Software Engineer, Frontend"
      subtitle="India's leading neobank."
      link="https://jupiter.money"
    /> -->
  </section>
</Layout>
