---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard";
import TestimonialCard from "../components/TestimonialCard.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Udasi Tharani | Software Developer">
  <section class="flex flex-col pt-64 pb-56 max-w-5xl mx-auto px-8 sm:px-0">
    <h1 class="text-lg sm:text-2xl text-center">
      <span class="text-3xl sm:text-4xl">Hello! I am Udasi.</span><br />I am a
      software developer with a love<br class="hidden xs:block" /> for great products
      and technology.
    </h1>
  </section>

  <section id="work" class="w-full py-8">
    <ProjectCard
      title="Jupiter"
      image="/projects/jupiter/thumbnail.png"
      role="Software Engineer, Frontend"
      subtitle="India's leading neobank."
      link="https://jupiter.money"
      client:only="react"
      accentColor="#FC7A69"
    />

    <div class="h-28 md:h-48"></div>

    <ProjectCard
      title="Vidpedia"
      image="/projects/vidpedia/thumbnail.png"
      role="Founding Engineer, Full Stack"
      subtitle="A collection of video editing templates for professional editors."
      link="/projects/vidpedia"
      client:only="react"
      accentColor="#FDFC47"
    />
  </section>

  <section class="mt-32 space-y-20 mb-20 px-8 sm:px-24">
    <h2 class="text-3xl md:text-5xl font-semibold text-center">
      What some old friends say
    </h2>

    <div
      class="flex flex-col md:flex-row justify-center items-stretch space-y-8 sm:space-y-12 md:space-y-0 md:space-x-20 max-w-7xl mx-auto"
    >
      <TestimonialCard
        text="I have managed and worked with Udasi on several projects at Jupiter. From managing websites to owning multiple products in the Jupiter app and leading a team, I have seen Udasi doing everything that has been thrown at him. He thinks with first principles, has the ability to adapt and learn any technology, and hence has become an expert in the field of mobile app and web app engineering. Udasi is a prodigy, talented, smart, and the most exceptional engineer that I have ever worked with. He is a curious, kind, persistent, energetic individual with exceptional problem-solving ability. I've been privileged to witness his work ethic, passion, and commitment firsthand. I firmly believe any client would be fortunate to have him. This endorsement comes straight from my heart and experience."
        author="Krutarth Dave"
        position="Frontend Lead, Jupiter"
      />
      <TestimonialCard
        text="I had the pleasure of working with Udasi who made my vision a reality. Their expertise in front-end was evident as they quickly crafted a visually appealing and user-friendly interface. What truly impressed me was their willingness to dive into backend development despite lacking prior experience. Their enthusiasm and motivation to learn were evident throughout the process. Their problem-solving skills were invaluable, and they tackled challenges with precision and effectiveness. Thanks to their full-stack work, my app not only looked great but also functioned seamlessly. I am beyond satisfied with the results and wholeheartedly recommend them to anyone seeking a full-stack web developer for their projects!"
        author="Aadil Verma"
        position="Co-founder, Vidpedia"
      />
    </div>
  </section>

  <Footer />
</Layout>
