---
interface Props {
  underline?: "blog" | "home" | "about";
}

const { underline } = Astro.props;

let pathname = new URL(Astro.request.url).pathname;
if (pathname.charAt(pathname.length - 1) === "/") {
  pathname = pathname.slice(0, -1);
}

if (underline) {
  pathname = `/${underline}`;
}
---

<nav
  class="flex justify-end items-center space-x-4 sm:space-x-9 pr-8 sm:px-12 md:px-20 lg:px-32"
>
  <p class={pathname === "" ? "underline" : ""}>
    <a href="/">Home</a>
  </p>
  <p class={pathname === "/blog" ? "underline" : ""}>
    <a href="/blog">Blog</a>
  </p>
  <p class={pathname === "/about" ? "underline" : ""}>
    <a href="/about">About</a>
  </p>
  <p>
    <a href="/resume.pdf" download>Resume</a>
  </p>
</nav>
