---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(pathname.lastIndexOf("/"));
---

<nav
  class="flex justify-end items-center space-x-4 sm:space-x-9 pr-8 sm:px-12 md:px-20 lg:px-32"
>
  <h3 class={currentPath === "/" ? "underline" : ""}>
    <a href="/">Home</a>
  </h3>
  <h3 class={currentPath === "/blog" ? "underline" : ""}>
    <a href="/blog">Blog</a>
  </h3>
  <h3 class={currentPath === "/about" ? "underline" : ""}>
    <a href="/about">About</a>
  </h3>
</nav>
